*.class



/Interfaces_yConeccionBD/CalculadoraEcuacionesG1/nbproject/private/
/Interfaces_yConeccionBD/CalculadoraUniversal/nbproject/private/
/Interfaces_yConeccionBD/CalculadoraUniversal/build/
/Interfaces_yConeccionBD/HotelMyPalace_ListaAcistencia/nbproject/private/
